In [18]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("TEJ_Excel練習_台積電.xlsx")

In [3]:
df.head()

,證券代碼,年月日,收盤價,開盤價,最高價,最低價,收盤價(元),成交量,投信買賣超(千股),自營買賣超(千股),外資買賣超(千股)
0,2330 台積電,2008/01/02,60.5,62.0,62.0,60.2,40.03,38970,-8824,-365,394
1,2330 台積電,2008/01/03,59.4,59.9,60.0,59.4,39.30,34838,-804,482,-9307
2,2330 台積電,2008/01/04,60.0,59.3,60.4,58.5,39.70,48400,-1357,711,-6802
3,2330 台積電,2008/01/07,55.8,57.0,58.0,55.8,36.92,103229,-5021,-1424,-65640
4,2330 台積電,2008/01/08,56.0,55.8,56.6,55.5,37.05,47333,77,-1248,-13831

In [4]:
df.tail()

,證券代碼,年月日,收盤價,開盤價,最高價,最低價,收盤價(元),成交量,投信買賣超(千股),自營買賣超(千股),外資買賣超(千股)
1995,2330 台積電,2016/01/15,137.0,137.5,138.0,135.5,127.58,79648,1797,-1612,24789
1996,2330 台積電,2016/01/18,137.0,135.0,138.0,134.5,127.58,37008,1968,930,-177
1997,2330 台積電,2016/01/19,138.0,137.5,138.0,136.0,128.51,24995,129,258,383
1998,2330 台積電,2016/01/20,134.5,137.5,137.5,133.5,125.25,44423,175,-912,-4053
1999,2330 台積電,2016/01/21,135.0,134.0,136.5,134.0,125.72,31957,26,-1554,481

In [5]:
df.describe()

,收盤價,開盤價,最高價,最低價,收盤價(元),成交量,投信買賣超(千股),自營買賣超(千股),外資買賣超(千股)
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,87.188075,87.191425,87.903200,86.377125,73.281575,47830.980000,7.001500,87.248000,869.860000
std,30.672782,30.679021,30.881731,30.462342,31.777117,25436.501864,1606.569727,1404.926143,19076.002399
min,36.800000,36.400000,37.400000,36.400000,26.160000,4823.000000,-9685.000000,-8253.000000,-129233.000000
25%,61.800000,61.775000,62.100000,61.100000,46.190000,31188.000000,-488.250000,-551.250000,-8336.750000
50%,76.300000,76.300000,76.700000,75.400000,62.930000,42530.000000,0.000000,30.500000,842.000000
75%,109.500000,109.000000,110.000000,108.500000,95.432500,58470.750000,497.000000,699.000000,9735.250000
max,154.500000,154.000000,155.000000,152.500000,139.440000,423945.000000,13520.000000,9426.000000,103404.000000

In [6]:
df.columns[:]

Index(['證券代碼', '年月日', '收盤價', '開盤價', '最高價', '最低價', '收盤價(元)', '成交量', '投信買賣超(千股)',
       '自營買賣超(千股)', '外資買賣超(千股)'],
      dtype='object')

In [7]:
x = df.iloc[:,1]

In [8]:
y = df.iloc[:,2]

In [9]:
Time = pd.to_datetime(x)

In [10]:
closing_price = df.iloc[:,2]

In [11]:
opening_price = df.iloc[:,3]

In [12]:
closing_price_20 = df.iloc[:20,2]
opening_price_20 = df.iloc[:20,3]

In [13]:
df.columns

Index(['證券代碼', '年月日', '收盤價', '開盤價', '最高價', '最低價', '收盤價(元)', '成交量', '投信買賣超(千股)',
       '自營買賣超(千股)', '外資買賣超(千股)'],
      dtype='object')

In [19]:
closing_price.head()

0    60.5
1    59.4
2    60.0
3    55.8
4    56.0
Name: 收盤價, dtype: float64

In [44]:
decrease = np.append(decrease,[df.iloc[6,7]])

In [48]:
len(decrease)

1099

In [49]:
len(rise)

901

In [46]:
rise = np.array([])
decrease = np.array([])
for i in range(len(closing_price)):
    if df.iloc[i,2]>df.iloc[i,3]:
        rise = np.append(rise,[df.iloc[i,7]])
    else:
        decrease = np.append(decrease,[df.iloc[i,7]])

In [15]:
Time = x[:20]

In [16]:
##single closing price line chart

#set the size of the graph
plt.figure(figsize=(18,8),dpi=80)
#main line chart, linewidth  
plt.plot(closing_price_20, color= 'r', alpha= 0.6, lw= 5, marker='o')
plt.plot(opening_price_20, color= 'r', ls='-.',alpha= 0.8, lw= 5, marker='o')

#set location:floot or int, label:str, ratation 45 degrees
plt.xticks(range(20), Time, color= "#DD0030", alpha=0.8, rotation= 45)
#set title of the graph
plt.title("$2330$ 台積電", color= "#DD2198", fontsize= 25, loc= 'center')
#set y asix label
plt.ylabel('$Stock$ $Price$', color = "#DD2198",fontsize=20)
#set the legend, location, shadow:box shadow, fancybox: round angle
plt.legend(loc='lower right', ncol=1, fontsize= 'xx-large', shadow=True, fancybox=True)
#the grid, set x-large
plt.grid(True, color= "#DD9DC6")
plt.show()

In [17]:
plt.figure(figsize=(10,7),dpi=100)
#分配上下兩圖 subplot(column row index)
p1 = plt.subplot(211)#(2columnwidth 1rowlength index1)
p2 = plt.subplot(212)#(2columnwidth 1rowlength index2)

#圖案主體
p1.plot(closing_price,"g-", lw=5)
p2.plot(opening_price, color = "#F98BB0", lw=5)

p1.grid(True, axis='y', ls='--', color='g', alpha=0.8)
p2.grid(True, axis='y', ls='--', color='r', alpha=0.8)

p1.set_title('$Closing$ $price$', color='g', fontsize = 20)
p2.set_title('$Opening$ $price$', color='r', fontsize = 20)
plt.show()